body{
    background-color: lightblue;
}

.newStyle{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: darkblue;
font-size: 2rem;
}

.wholeLottaRed{
    color: red;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bgWhite{
background-color: white;
}

